<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-device" version="0.2.3">
    <name>botman-useragent</name>
    <description>Cordova Plugin to set User Agent for Akamai bot manager</description>
    <license>Apache 2.0</license>
    <keywords>cordova,useragent,user-agent</keywords>
    <js-module src="www/useragent.js" name="botman-useragent">
        <clobbers target="botman-useragent" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BotmanUserAgent">
                <param name="ios-package" value="CDVDevice"/>
            </feature>
        </config-file>
        <header-file src="src/ios/BotmanUserAgent.h" />
        <source-file src="src/ios/BotmanUserAgent.m" />
    </platform>
	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="BotmanUserAgent" >
				<param name="android-package" value="com.hollandamerica.UserAgent"/>
                                <param name="onload" value="true" />
			</feature>
		</config-file>
		<source-file src="src/android/BotmanUserAgent.java" target-dir="src/com/hollandamerica/UserAgent" />
	</platform>
</plugin>

